.lacoste_head {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600;

}

@media only screen and (max-width: 1000px) {
    .lacoste_head {
        margin-top: 50px;
        font-size: 30px;
        font-weight: 600;

    }

}
.main{
    font-family: Archivo;
}

.projects {
    background-color: black;
    color: white;

}
.project_header {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-top: 150px;
    font-weight: 600;

}
.projects_nxy{
    background-color: rgb(139, 9, 9);
    color: white;
}
.proj_head {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.nysc {
    background-color: red;
}

.links {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.lacoste_logo {
    width: 130px;
    height: 70px;
    margin-top: 10px;
}

.project_overview {
    font-size: 22px;
}

.lac_shot {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.overview {
    font-size: 40px;
    font-weight: 600;
}

.proj {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 50px;
}

@media only screen and (max-width: 425px) {
    .lacoste_head {
        margin-top: 50px;
        font-size: 37px;
        font-weight: 600;

    }

    .lacoste_logo {
        width: 110px;
        height: 45px;
        margin-top: 23px;
    }

    .tools {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .links {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .overview {
        font-size: 25px;
        font-weight: 600;
        margin-top: 15px;
    }
}