* {
    margin: 0;
    border: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.language {
    font-family: Archivo;

}

.portfolio {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: 900;
    text-align: center;

}
.code{
    font-size: 35px;
    font-weight: 700;

}
.fal{
    width: 400px;
    height: 400px;
}
.codejnr{
    font-size: 30px;
    font-weight: 700; 
}
.test {
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
}
.energy{
    font-size: 50px;
    font-weight: 700;
}
.staff {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.proj_per {
    background-color: rgb(52, 86, 131);
    color: white;
}

.por_1_original {
    height: 500px;
    width: 80%;
    background-color: rgb(52, 86, 131);
    color: white;
    position: absolute;
    top: 0;
    opacity: 1;
    transform: rotate(6deg);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.nyxx {
    background-color: rgb(52, 86, 131);
    color: white;
}

.orr {
    background-color: rgb(6, 139, 6);
    color: white;
}

.perl {
    height: 100px;
}

.por_1_original_click {
    height: 500px;
    width: 80%;
    color: white;
    position: absolute;
    top: 0;
    opacity: 1;
    transform: rotate(-2deg);
    z-index: 6;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: rgb(52, 86, 131);

}

.nys {
    background-color: rgb(139, 9, 9);

    color: white;

}

.dat {
    background-color: rgb(226, 160, 27);
}

.perr {
    background-color: rgb(52, 86, 131);
    color: white;
}


.por_2_original {
    height: 500px;
    width: 80%;
    background-color: rgb(139, 9, 9);
    color: black;
    position: absolute;
    top: 1;
    opacity: 1;
    transform: rotate(3deg);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.small_port {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.perlg {
    height: 65px;
    margin-left: 20px;
}

.por_2_original_click {
    height: 500px;
    width: 75%;
    background-color: rgb(139, 9, 9);
    color: white;
    position: absolute;
    top: 1;
    opacity: 1;
    z-index: 6;
    transform: rotate(0deg);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

}

.por_3_original {
    height: 500px;
    width: 75%;
    opacity: 1;
    transform: rotate(-4deg);
    z-index: 0;
    margin-right: 70px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.por_3_original_click {
    height: 500px;
    width: 75%;
    opacity: 1;
    transform: rotate(-3deg);
    z-index: 6;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: black;
    border-radius: 20px;

}

.lacoste {
    position: fixed;
}

.landingpage_content {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 150px;
}

.hero_portfolo {
    border: 2px solid black;
    height: 45px;
    width: 160px;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 15px;

}

.hero_message {
    background-color: black;
    color: white;
    border: 2px solid black;
    height: 47px;
    width: 170px;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 4px;
    border-radius: 15px;
}

.explore_black {
    background-color: rgb(241, 243, 236);
    color: black;
    border: 2px solid rgb(0, 0, 0);
    height: 47px;
    width: 150px;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 4px;
    border-radius: 15px;
}

.port_sec {
    background-color: black;
    color: white;
    border: 2px solid black;
    height: 50px;
    width: 220px;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.yellow {
    background-color: yellow;
}

.hero_icon {
    width: 25px;
    margin-right: 8px;
}

.hero_head {
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
}

.hero_img {
    height: 500px;
}

.service {
    margin-top: 370px;
}

.services_Section_sub {
    text-align: center;
    margin-top: 4px;
}

.services_Section_head {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.skill_container {
    background-color: rgb(241, 240, 238);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

}

.nyx {
    height: 45px;
    margin-left: 20px;
    margin-top: 9px;
}

.nyx_log {
    height: 50px;
}

.skills {
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;


}


.service_grid {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.skills_head {
    font-size: 25px;
    font-weight: 600;
}

.skill_text {
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 60px;
}

.myself {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 7%;
    margin-right: 7%;
}

.lg {
    width: 500px;
}

.me_head {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}

.me_text {
    font-size: 17px;
}

.color_on {
    height: 20px;
    width: 20px;
    background-color: cadetblue;
    border-radius: 5px;
    border: 2px solid;
    margin-top: 3px;
}

.me_text_head {
    font-size: 19px;
    font-weight: 600;
}

.my_text {
    padding-left: 60px;
}

.color_one {
    height: 20px;
    width: 20px;
    background-color: chocolate;
    border-radius: 5px;
    border: 2px solid;
    margin-top: 3px;

}

.portfolio_content {
    margin-top: 130px;
}

.port_color {
    background-color: brown;
}

.port_color_ {
    background-color: brown;
    font-size: 55px !important;
}

.port_Des {
    margin-top: 110px;
    padding-left: 10px;
    padding-right: 10px;
}

.lacost_image {
    width: 55%;
    height: 320px;
    margin-top: 90px;
}

.arrow {
    transform: rotate(90deg);
    width: 30px;
}

.portfolo_conten {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 40px;

}

.lac {
    width: 600px;
}

.port_head {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.port_det {
    text-transform: lowercase;
}

.portfolo_content {}

.resume {
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

.past {
    background-color: dodgerblue;
}

.article {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.skill_set {
    border: 4px solid black;
    border-radius: 30px;
    width: 400px;
    flex-basis: 25%;
}

.res {
    width: 100px;
}

.resume_card {
    width: 600px;
    background-color: white;
    color: black;
    margin-top: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
}

.articles {
    margin-top: 180px;
}

.resume_head {
    border: 1px solid black;
}

.jb_title {
    font-size: 23px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ress_head {
    margin-top: 400px;
}

.hero_portfol {
    border: 2px solid black;
    height: 45px;
    width: 180px;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-weight: 500;
}

.question {
    font-size: 25px;
    font-weight: 600;
}

.art {
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    width: 250px !important;
}

.read {
    color: dodgerblue;
    text-decoration: underline;
    font-weight: 700;
    margin-left: 20px;
}

.faq_head {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.faq {
    font-size: 35px;
}

.tog {
    font-size: 25px;
}



@media only screen and (max-width: 1024px) {

    .test {
        position: relative;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-top: 150px;
    }

    .por_1_original {
        height: 400px;
        width: 80%;
        background-color: rgb(52, 86, 131);
        color: white;
        position: absolute;
        top: 0;
        opacity: 1;
        transform: rotate(6deg);
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;

    }

    .por_1_original_click {
        height: 400px;
        width: 80%;
        background-color: rgb(52, 86, 131);
        color: white;
        position: absolute;
        top: 0;
        opacity: 1;
        transform: rotate(-2deg);
        z-index: 6;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }



    .por_2_original {
        height: 400px;
        width: 80%;
        background-color: rgb(139, 9, 9);
        color: black;
        position: absolute;
        top: 1;
        opacity: 1;
        transform: rotate(3deg);
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }


    .perlg {
        height: 65px;
        margin-left: 20px;
    }

    .por_2_original_click {
        height: 400px;
        width: 75%;
        background-color: rgb(139, 9, 9);
        color:white;
        position: absolute;
        top: 1;
        opacity: 1;
        z-index: 6;
        transform: rotate(0deg);
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;

    }

    .por_3_original {
        height: 400px;
        width: 75%;
        opacity: 1;
        transform: rotate(-4deg);
        z-index: 0;
        margin-right: 90px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        background-color: black;
        border-radius: 20px;
    }

    .por_3_original_click {
        height: 400px;
        width: 75%;
        opacity: 1;
        transform: rotate(-3deg);
        z-index: 6;
        margin-right: 30px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        background-color: black;
        border-radius: 20px;

    }

    .nyx {
        height: 35px;
        margin-left: 20px;
        margin-bottom: 2px;
        position: relative;
        background-origin: 5px;
    }

    .hero_head {
        font-size: 40px;
        font-weight: 600;
    }

    .port_Des {
        margin-top: 60px;
    }

    .lacost_image {
        width: 55%;
        height: 220px;
        margin-top: 80px;
        margin-left: 10px;
    }

    .hero_img {
        height: 400px;
    }

    .lac {
        width: 400px;
        height: 300px;
    }

    .me_head {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .me_text_head {
        font-size: 17px;
        font-weight: 600;
    }

    .color_on {
        height: 18px;
        width: 18px;
        background-color: cadetblue;
        border-radius: 5px;
        border: 2px solid;
        margin-top: 3px;
    }

    .color_one {
        height: 18px;
        width: 18px;
        background-color: chocolate;
        border-radius: 5px;
        border: 2px solid;
        margin-top: 3px;
    }

    .lg {
        width: 500px;
        margin-top: 100px;
    }

    .port_head {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        position: relative;
        top: 8px;
    }

    .hero_message {
        background-color: black;
        color: white;
        border: 2px solid black;
        height: 47px;
        width: 170px;
        padding-top: 10px;
        padding-left: 3px;
        padding-right: 4px;
        border-radius: 15px;
    }

    .resume_card {
        width: 400px;
        background-color: white;
        color: black;
        margin-top: 80px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .myself {
        display: grid;
    }

    .landingpage_content {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 200px;
    }


}

@media only screen and (min-width: 800px) {

    .port_sub {
        display: none;
    }

    .porr {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .portfolo_conten {
        display: none;
    }

    .port_Des {
        display: none;
    }

    .port_sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .port_head {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .lacost_image {
        width: 100%;
        height: 200px !important;
        margin-top: 10px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .service_grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service_grid {
        width: 0px;
    }

    .landsec {
        display: grid;
        text-align: center;
    }

    .ress_head {
        margin-top: 50px;
    }

    .buttons {
        display: flex;
        justify-content: center;

    }

    .hero_img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .lac {
        width: auto;
    }

    .me {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero_message {
        margin-bottom: 30px;
    }

    .resume {
        display: flex;
        flex-direction: column;

    }

    .port_Des {
        margin-top: 30px;
    }


    .portfolo_conten {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workplace {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .hero_portfol {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    .landingpage_content {
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 0px;
    }
    .code{
        font-size: 25px;
        font-weight: 700;
            
    }

}

.aboutme{
    margin-top: 150px !important;
}
@media only screen and (max-width: 425px) {
    .small_head {
        position: relative;
        bottom: 20px;
    }

    .port_head {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .por_1_original {
        height: 500px;
        width: 80%;
        background-color: rgb(52, 86, 131);
        color: white;
        position: absolute;
        top: 0;
        opacity: 1;
        transform: rotate(6deg);
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    margin-bottom: 20px;
    }

    .por_1_original_click {
        height: 500px;
        width: 80%;
        background-color: rgb(52, 86, 131);
        color: white;
        position: absolute;
        top: 0;
        opacity: 1;
        transform: rotate(-2deg);
        z-index: 6;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }



    .por_2_original {
        height: 500px;
        width: 80%;
        background-color: rgb(139, 9, 9);
        color: white;
        position: absolute;
        top: 1;
        opacity: 1;
        transform: rotate(3deg);
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }


    .perlg {
        height: 50px;
        margin-left: 20px;
    }

    .por_2_original_click {
        height: 500px;
        width: 75%;
        background-color: rgb(139, 9, 9);
        color: white;
        position: absolute;
        top: 1;
        opacity: 1;
        z-index: 6;
        transform: rotate(0deg);
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;

    }

    .por_3_original {
        height: 500px;
        width: 75%;
        opacity: 1;
        transform: rotate(-4deg);
        z-index: 0;
        margin-right: 70px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        background-color: black;
        border-radius: 20px;
    }

    .port_color_ {
        background-color: brown;
        font-size: 35px !important;
    }

    .por_3_original_click {
        height: 500px;
        width: 75%;
        opacity: 1;
        transform: rotate(-3deg);
        z-index: 6;
        margin-right: 30px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        background-color: black;
        border-radius: 20px;

    }

    .hero_head {
        font-weight: 700;
        margin-top: 20px !important;
    }

    .port_Des {
        margin-top: 30px;
        text-align: left;
        padding-left: 20px;
    }

    .workplace {
        padding-left: 7px;
        padding-right: 7px;
    }

    .hero_img {
        width: 400px;
        height: 350px;
    }

    .my_text {
        padding-left: 0px;
    }

    .lac {
        height: 250px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .me_head {
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .nyx_log {
        height: 23px;
    }

    .landingpage_content {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 50px;
    }

    .nyx {
        height: 40px;
        margin-left: 20px;
    }

    .perl {
        height: 50px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 400px) {

    .resume_card {
        width: 350px;
        background-color: white;
        color: black;
        margin-top: 80px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .resume_card {
        width: 300px;
        background-color: white;
        color: black;
        margin-top: 80px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 20px;
    }

    .res {
        width: 80px;
    }

    .hero_img {
        width: 300px;
        margin-left: 10px;
    }

    .hero_texts {
        width: 300px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .hero_portfolo {
        width: 150px;
    }

    .hero_message {
        width: 150px;
    }

    .skill_set {
        border: 4px solid black;
        border-radius: 30px;
        width: 350px;
        flex-basis: 25%;
    }
}

@media only screen and (max-width: 320px) {
    .hero_portfolo {
        border: 2px solid black;
        height: 45px;
        width: 120px;
        padding-top: 10px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 15px;
        font-size: 13px;
        font-weight: 500;

    }

    .skill_set {
        border: 4px solid black;
        border-radius: 30px;
        width: 320px;
        flex-basis: 25%;
    }

    .hero_icon {
        width: 20px;
        margin-right: 8px;
    }

    .hero_message {
        background-color: black;
        color: white;
        border: 2px solid black;
        height: 47px;
        width: 120px;
        padding-top: 10px;
        padding-left: 3px;
        padding-right: 4px;
        border-radius: 15px;
        font-size: 14px;
    }

}

@media only screen and (min-width: 1440px) {
    .lacost_image {
        width: 600px;
    }
}

.lac_Con {
    background-color: black;
    color: white;
}